<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathName" value="C:\Record"/>
    <add key="DatabaseType" value="oracle"/>
    <add key="OleOracleConnect" value="Password=busman;Persist Security Info=True;User ID=kfqbus;Data Source=DFDB;Provider=OraOLEDB.Oracle.1"/>
    <add key="LogPosition" value="C:\GJInfoOpenCase"/>
    <add key="BackUpRecords" value="C:\BackUpRecords"/>
  </appSettings>
</configuration>
